*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content:center;
    padding: 1%;
    top: 0%;
    gap: 50px;
    width: 100%;
    height: 53px;
    z-index: 999;
    background-color: rgba(27, 25, 25, 0.958);
    position:fixed;
}
.navbar img{
    width: 40px;
    height: 40px;
}
.navbar ul{
    display:flex;
    justify-content: center;
    list-style: none;
    gap: 2rem;
    font-size: 18px;
}
.navbar #iconbutton{
    display: flex;
    justify-content: center;
    gap: 40px;
}

.navbar a{
    text-decoration: none;
    color: rgb(249, 246, 246);
}
#Topbar i{
    font-size: 20px;
}
#Topbar li{
    list-style: none;
}
.barbutton{
     cursor: pointer;
     display: none;
     color: white;
}
#Topbar ul li a:hover{
    color: rgb(7, 141, 251);
    /* text-decoration: underline; */
}
/* .navbar nav ul li::before{
    content: " ";
    position: absolute;
    transform: translate(30%,50%) ;
    top: 70%;
    width: 0px;
    height: 4px;
    background-color: white;
    transition-duration: .5s;
}
.navbar li:hover::before{
    width: 50px;
} */
  
  /* DROPDOWNMENU is start from here */
  .dropdownmenu{
       position:relative;
       display: none;
      top: 50px;
      height: 0px;
      width: 500px;
      background: rgb(206, 205, 205);
      backdrop-filter: blur(15px);
      border-radius: 0px;
      overflow: hidden;
}
.dropdownmenu a{
    text-decoration: none;
    color: black;
}
.dropdownmenu.open{
    height: 100vh;
}
.dropdownmenu li{
    padding: .5rem;
    font-size: 28px;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-left: 3%;
}

@media(max-width: 845px){
    .navbar .links{
        display: none;
}
.navbar .barbutton{
    display: block;
}
.navbar{
    position: fixed;
    display: flex;
    justify-content: space-between;
}
.dropdownmenu{
    display: block;
    width: 830px;
    position:fixed;
    top: 5%;
}
}
  /* DROPDOWNMENU is End  here */

.headtext{
    width: 98%;
    height: 90vh;
   margin: 1%;
   margin-top: 59px;
   border-radius: 10px;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}
.headtext{
    background-image: url(images/imgvideo16.gif);
    /* background: linear-gradient(0deg ,); */
    color: white;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.headtext::before ,.headtext::after{
    content: '';
    position: absolute;
    left: 1px;
    top: 47px;
    border-radius: 10px;
    background: linear-gradient(45deg , #e6fb04 ,#ff6600, #00ff66 ,#00ffff,
    #ff00ff ,#ff0099 ,#6e0dd0 ,#ff3300 ,#099fff);
    background-size: 400%;
    /* margin-top: 55px; */
    width: 98.80%;
    margin: .5%;
    height:91.5vh;
    z-index: -1;
    animation: anima 20s linear infinite;
}
@keyframes anima{
    0% {
        background-position: 0 0;
    }
    50%{
        background-position: 400% 0;
    }
    100%{
        background-position: 0 0;
    }
}
.headtext::after{
    filter: blur(50px);
    opacity: 5px;
}
.headtext h1{
    font-size: 50px;
}
.headtext p{
    font-size: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}
#Homepage h4{
    /* color: rgb(9, 133, 241); */
    letter-spacing: 2px;
}
.headtext #topbutton{
        /* padding: 29%; */
        /* position:static; */
        text-align: center;
        letter-spacing: 30px;
}
.learnbutton{
    width: 140px;
     height: 37px;
     font-size: 20px;
     font-weight: bold;
     color:white;
     border: 0px solid blue;
     border-radius: 16px;
     background-color: rgb(3, 156, 251);
}
.buybutton{
    width: 70px;
    height: 37px;
    border-radius: 16px;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid;
    color:rgb(3, 156, 251) ;
    background: transparent;
}
.secondpage div{
    width: 99%;
    height: 91vh;
   margin: .5%;
   border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.iphone16e{
    width: 100%;
    height: 90vh;
    background-image: url(images/iphone16enew.jpg);
    text-align: center;
}
/* .mediaphone{
    display: none;
} */
@media (max-width:820px){
    .iphone16e{
        background-image: none;
        background-image: url(images/mediaiphone16e.jpg);
    }
    .headtext{
        background-image: none;
        background-image: url(images/mediaiphone16pro.jpg);
    }
    #appletv .appletvfirst{
        display: none;
    }
    #appletv .appletvsecond{
        display: block;
        height: 500px;
    }
    .headtext h1{
        font-size: 30px;
    }
    .headtext p{
        font-size: 20px;
    }
    .headtext #topbutton{
        padding-top: 20%;
    }
    .secondpage .iphone16e #topbutton{
        padding-top: 47% !important;
    }

}
@media (max-width:600px){
    .secondpage .iphone16e #topbutton{
        padding-top: 60% !important;
    }
    .headtext #topbutton{
        padding-top: 45%;
    }
}
.secondpage .iphone16e #topbutton{
   padding-top: 42%;
    letter-spacing: 30px;
    text-align: center;
}
#brands h1{
    font-size: 50px;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 7px 8px 6px gray;
    color: rgb(238, 34, 15);
}
#grid{
    width: 100%;
}
#grid .container{
    display: grid;
    grid-template-columns: repeat(auto-fit ,minmax(30em ,1fr));
    gap:15px;
    /* margin: 1%; */
}
#grid .container div{
    /* width: 500px; */
    height: 580px;
    /* border: 1px solid black; */
    box-shadow: 1px 1px 10px 1px rgb(161, 161, 162);
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@media (max-width:600px){
    #grid .container{
        display: grid;
        justify-content: center;
        /* align-items: center; */
        grid-template-columns: repeat(auto-fit,400px)!important;
        gap: 10px;
        margin: 1%;
    }
    #gridimg div button{
        margin-top: 23%;
    }
    .gridimg4 div h2,.gridimg5 div h2,.gridimg6 div h2{
        padding-bottom: 40%;
    }
}
@media(min-width:610px)and (max-width:820px){
    .gridimg4 div h2,.gridimg5 div h2,.gridimg6 div h2{
        padding-bottom: 30% !important;
    }
}
@media (min-width:820px)and(max-width:1279px){
    .secondpage .iphone16e #topbutton{
        padding-top: 47% !important;
    }
    .gridimg1 div p ,.gridimg2 div p ,.gridimg3 div p{
        padding-bottom: 90% !important;
    }
    .gridimg4 div h2,.gridimg5 div h2,.gridimg6 div h2{
        padding-bottom: 70%;
    }
}
.gridimg1 div p ,.gridimg2 div p ,.gridimg3 div p{
    padding-bottom: 90%;
}
.gridimg4 div h2,.gridimg5 div h2,.gridimg6 div h2{
    padding-bottom: 65%;
}
.gridimg4 div p,.gridimg5 div p,.gridimg6 div p{
    padding-bottom: 25%;
}
#gridimg button{
     margin-left: 4%;
}
.gridimg1{
    background-image: url(images/applewatch1.png);
    text-align: center;
}
#gridimg p{
    font-size: 20px;
    color: #f69205f7;
    font-weight: bold;
}
.gridimg1 h2 ,.gridimg3 h2,.gridimg6 h2 ,.gridimg2 h2 ,.gridimg4 h2 {
    font-size: 30px;
    color: black;
    font-style: italic;
}
.gridimg5 h2{
    font-size: 35px;
    color: white;
    font-style:italic;
}
.gridimg2 p{
    font-size: 25px;
    color: #08caf5;
}
.gridimg2{
    background-image: url(images/hpmeipad.png);
    text-align: center;
}
.gridimg3{
    background-image: url(images/HomeMacbook.png);
    text-align: center;
}
.gridimg4{
    background-image: url(images/appleairpods.jpg);
    text-align: center;
}
.gridimg5{
    background-image: url(images/homeiphone.png);
    text-align: center;
}
.gridimg6{
    background-image: url(images/Apple\ PC.jpg);
    text-align: center;
}

#appletv img{
    width: 100%;
    height: 100vh;
    /* border: 1px solid grey; */
}
#appletv .appletvfirst{
    display: none;
}
#appletv h1{
    font-size: 50px;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 7px 8px 6px gray;
}
.footer{
    background-color: rgba(248, 242, 242, 0.962);
    width: 100%;
    height: auto;
    
}
.footertext div{
    width: 90%;
    padding-left: 10%;
}
#footclick{
    width: 90%;
    padding-left: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    /* gap: 10px; */
}
.footer #footclick li ,a{
    list-style: none;
    text-decoration: none;
}
#footclick li, ul{
     padding: 3%;
     color:rgb(10, 9, 9);
}
#footclick a{
    color: rgb(84, 77, 77);
}
#footclick ul li a:hover{
    color: rgb(247, 27, 2);
    text-decoration: underline;
}
.footerbottom{
    width: 95%;
    padding-left: 10%;
    justify-content:space-between;
    display: flex;
    align-items: center;
    gap: 10px;
}
.bottompart a{
   text-decoration: none;
   color: rgb(65, 60, 60);
}



        