*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
#IpadMain{
    padding-top: 7%;
     width: 100%;
 }
 #IpadMain div{
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
}
#ipadview{
    width: 90%;
    padding-left: 15%;
}
#ipadview .viewipad{
    display: grid;
    grid-template-columns: repeat(8,110px);
    gap: 20px;
    height: 110px;
    overflow-x: scroll;
    scrollbar-width: none;
}
.viewipad div{
    height: 100px;
    border: 1px solid black;
    /* text-align:center; */
    /* font-size: 15px; */
    /* font-weight: bold; */
    /* font-family:cursive; */
    /* margin: 1%; */
    /* color: black; */
    box-shadow: 2px 2px 20px .5px rgb(71, 68, 68);
   border-radius: 10px;
    /* padding-top: 75%; */
}
#Ipad2part div video{
    margin-left: 5%;
     width: 90%;
     /* height: 50vh; */
     border-radius: 15px;
    }
#essentials .itext{
    font-size: 40px;
    font-weight: bold;
    padding-left: 3%;
    font-family:cursive;
}
#essentials .essimg{
    width: 100%;
    display: grid;
    gap: 50px;
    padding: 2%;
    /* grid-template-columns: repeat(auto-fill,500px); */
    grid-template-columns: repeat(auto-fit, minmax(30em ,1fr));
}
#essentials .essimg div{
    height: 700px;
    border: 1px solid black;
    box-shadow:2px 2px 20px .5px rgb(71, 68, 68);
    border-radius: 20px;
}
.essimg1{
    background-image: url(Ipad/applepencil.jpg);
    text-align: center;
    font-size: 30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 4%;
}

.essimg1 a ,.essimg2 a{
    text-decoration: none;
    color: blue;
}
.essimg2{
    background-image: url(Ipad/keyboradipad.jpeg);
    text-align: center;
    /* padding-top: 79%; */
    font-size: 25px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#Exploregrid{
    width: 96%;
    padding-left: 7%;
}
#Exploregrid .ipadgrid{
    display: grid;
    grid-template-columns: repeat(7,380px);
    gap: 40px;
    height: 780px;
    overflow-x: scroll;
    scrollbar-width: none;
}
.ipadgrid div{
   height: 760px;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 6px 6px  10px 4px rgb(71, 68, 68);
}
