*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;

}
#MacMain{
   padding-top: 5%;
    width: 100%;
}
@media(max-width:850px){
    #MacMain{
        padding-top: 12%;
    }
}
#macview{
    width: 90%;
    padding-left: 15%;
}
#macview .viewmac{
    display: grid;
    grid-template-columns: repeat(7,120px);
    gap: 20px;
    height: 120px;
    overflow-x: scroll;
    scrollbar-width: none;
}
.viewmac div{
    height: 110px;
    /* border: 1px solid black; */
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    text-align:center;
    font-size: 15px;
    font-weight: bold;
    font-family:cursive;
    margin: 1%;
    color: black;
    /* box-shadow: 2px 2px 20px .5px rgb(71, 68, 68); */
   border-radius: 10px;
    padding-top: 75%;
}
.viewmac div:hover{
    transform: scale(1.050);
}
.macicon1{
    background-image: url(macimg/Ticons1.png);
}
.macicon2{
    background-image: url(macimg/Ticons2.png);
}
.macicon3{
    background-image: url(macimg/Ticons3.png);
}
.macicon4{
    background-image: url(macimg/Ticons4.png);
}
.macicon5{
    background-image: url(macimg/Ticons5.png);
}
.macicon6{
    background-image: url(macimg/Ticons6.png);
}
.macicon7{
    background-image: url(macimg/Ticons7.png);
}
#TopMac{
    padding-left: 2%;
}
#TopMac #Mtext{
    font-size: 50px;
    font-weight: bold;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 6%;
    padding-right: 7%;
    text-shadow: 8px 8px 10px rgb(61, 60, 60);
    color: rgb(14, 13, 13);
}
#TopMac #Mtext .text2 p{
    font-size: 30px;
      text-shadow: none;
      color: black;
}
#TopMac #Mtext p{
    color: rgb(99, 96, 96);
}
   /* Video Css is Apple and start From here */
.Macvideo video{
    width: 98%;
    display: flex;
    border-radius: 50px;
}

 /* Second text Css Is start here */
.hello{
    display: flex;
    align-items: center;
    justify-content: center;
}
.hello h1{
    font-size: 120px;
    text-align: center;
    font-family: "Dancing Script", serif;
    font-weight: bold;
    animation: hel 10s ease-in-out  infinite;
    /* ,type 5s ease infinite;; */
    overflow: hidden;
    /* border-right:5px solid green; */
    white-space:nowrap;
}
@keyframes hel{
    0%{
        color: red;
    }
    20%{
        color: rgb(7, 181, 249);
    }
    40%{
        color: rgb(243, 21, 188);
    }
    60%{
        color: rgb(255, 6, 114);
    }
    80%{
        color: yellow;
    }
    100%{
        color: rgb(247, 126, 5);
    }
}
@keyframes type{
    from{width: 0%;}
    to{width: 100%;}
}
#TopMac .Sectext{
    padding-left: 4%;
  font-size: 45px;
  text-shadow: 8px 8px 10px rgb(61, 60, 60);
}

  /* First grid is start from here */
#gridfirst{
    width: 96%;
    padding-left: 7%;
}
#gridfirst .divgrid{
    display: grid;
    grid-template-columns: repeat(7,380px);
    gap: 40px;
    height: 780px;
    overflow-x: scroll;
    scrollbar-width: none;
}
.divgrid div{
   height: 760px;
   background-position: center;
   background-size:cover;
   background-repeat: no-repeat;
    /* border: 1px solid black; */
    border-radius: 20px;
    box-shadow: 6px 6px  10px 4px rgb(71, 68, 68);
}
.divgrid div:hover{
    transform: scale(1.010);
}
.getknow1{
    background-image: url(macimg/getknow5.png);
}
.getknow2{
    background-image: url(macimg/getknow6.png);
}
.getknow3{
    background-image: url(macimg/getknow1.png);
}
.getknow4{
    background-image: url(macimg/grtknow2.png);
}
.getknow5{
    background-image: url(macimg/grtknow4.png);
}
.getknow6{
    background-image: url(macimg/grtkonw3.png);
}
.getknow7{
    background-image: url(macimg/getknow7.png);
}
#thirdsec{
    padding-left: 6%;
    font-size: 35px;
}
#thirdsec .Macbutton{
    display: flex;
    gap: 40px;
}
#thirdsec .Macbutton button{
    width: 100px;
    height: 35px;
    background-color: black;
    color: white;
    border-radius: 19px;
    font-size: 20px;
    transform: scale(1.070);
}
#MacMain #laptop , #display{
    padding-left: 4%;
}
@media(max-width:600px){
    #laptop .macgrid{
        display: grid;
        grid-template-columns: repeat(6,350px)  !important;
        gap: 40px;
        height: 700px;
        overflow-x: scroll;
        scrollbar-width: none;
    }
    .macgrid div{
        height: 610px !important;
        font-size: 25px !important;
        padding-top: 70%;
     }
     #display .newdisplay{
        display: grid;
        grid-template-columns: repeat(6,350px)  !important;
        gap: 20px !important;

     }
     .hello h1{
        font-size: 80px !important;
     }
}
#laptop .macgrid{
    display: grid;
    grid-template-columns: repeat(6,400px);
    gap: 40px;
    height: 700px;
    overflow-x: scroll;
    scrollbar-width: none;
}
.macgrid div{
   height: 680px;
   background-repeat: no-repeat;
   background-position:top;
   text-align: center;
    /* border: 1px solid black; */
    border-radius: 20px;
   font-size: 30px;
   padding-top: 70%;
}
.macgrid div p{
    font-size: 20px;
    text-align: center;
}
.macgrid div:hover{
    box-shadow: 6px 6px  10px 4px rgb(71, 68, 68);
  transform:scale(1.0090);
}
.macimg1{
    background-image: url(macimg/macbook\ m3.jpg);
    background-size:  90% 35%  ;

}
.macimg2{
    background-image: url(macimg/macbook\ pro.png);
    background-size: 100% , 50%;
}
.macimg3{
    background-image: url(macimg/macbook\ m2.png);
    background-size: 100% , 50%;

}

#display .newdisplay{
    display: grid;
    grid-template-columns: repeat(6,400px);
    gap: 40px;
    height: 600px;
    overflow-x: scroll;
    scrollbar-width: none;
}
.newdisplay div{
    height: 580px;
    /* border: 1px solid black; */
    border-radius: 20px;
    text-align: center;
    background-repeat: no-repeat;
    background-position:top;
    background-size: 100% 50%;
    padding-top: 80%;

}

.newdisplay div:hover{
    box-shadow: 6px 6px  10px 4px rgb(71, 68, 68);
  transform:scale(1.0090);
}
.newdisplay div p{
    font-size: 25px;
    text-align: center;
    /* font-weight: bold; */
    padding-bottom: 10%;
}
.dimg1{
    background-image: url(macimg/desktop\ imac1.png);
}
.dimg2{
    background-image: url(macimg/Desktop\ imac\ 2.png);
}
.dimg3{
    background-image: url(macimg/desktop\ imac3.png);
}
#lastvideo div img{
    margin-left: 2%;
    width:95%;
    height: auto;
    border-radius: 20px;
}
#lastvideo div{
    border-radius: 20px;
}